<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>
            电影列表--循环数组
        </h1>
        <ul>
            <!-- v-for 别名 in 表达式 -->
            <li v-for=" (title,index) in movies ">{{index}}&nbsp;&nbsp;{{title}}</li>
        </ul>
        <h1>
            循环对象列表
        </h1>
        <table>
            <thead>
                <td>索引</td>
                <td>姓名</td>
                <td>职位</td>
                <td>公司</td>
            </thead>
            <tbody>
                <tr v-for="(person,index) in persons">
                    <td>{{index}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.title}}</td>
                    <td>{{company}}</td>
                </tr>
            </tbody>
        </table>
        <h1>
            循环单个对象
        </h1>
        <div v-for="(name,prop,index) in person">
            {{prop}}:{{name}} --- {{index}}
        </div>

        <h1>
            循环数字
        </h1>
        <div v-for=" (n,index) in 10">{{index}}------{{n}}</div>

        <h2>
            循环字符串
        </h2>
        <div v-for="s in 'werworkfjsldfs'">{{s}}</div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                movies:[
                    "妖猫传","芳华","至暗时刻"
                ],
                persons:[{
                    name:"li",
                    title:"vue"
                },{
                    name:"zhang",
                    title:"Angular"
                },{
                    name:"lin",
                    title:"React"
                    
                }
                ],
                company:"Hello公司",
                person:{
                   lastname:"li",
                   firstName:"zimu",
                   age:25

                }
            },
            methods: {

            }
        })
    </script>
</body>

</html>